* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --primary-font: 'Montserrat', sans-serif;
    --dark-grey: #121212;
}

html, body {
    height: 100%;
    font-family: var(--primary-font);
}


h1,h2,h3,h4,h5,h6 {
    margin: 20px 0;
}

.page-title {
    margin: 40px 0;
    text-align: center;
}

a {
    text-decoration: none;

    &:hover {
        color: #ff7597;
    }
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: var(--dark-grey);

    & a {
        color: white;
        padding: 5px;
    }
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: var(--dark-grey);
    color: white;
}


.page-content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.main-content {
    display: flex;
    flex: 1;
    justify-content: center;
}


.container {
    max-width: 1440px;
}



.post-list {

    & li {
        list-style-type: none;
        padding: 5px 0;
    }
}


.api-block {
    padding: 20px 0;
}

.answer {
    color: var(--dark-grey);
    background-color: var(--dark-grey);
    width: 250px;

    &:hover {
        color: white;   
    }
}


.gallery {
    display: flex;

    &__image {
        // usable, but not great ratios
        margin-right: 20px;
        margin-top: 20px;
        max-height: 500px;
        max-width: 500px;
        object-fit: cover;
    }

    &__image:last-of-type {
        margin-right: 0;
    }

}