{{ define "main" }}
    <div class="container">
        <h1 class="page-title">{{ .Title }}</h1>
            <div class="post-container">
                {{ range .Params.tags }}
                    <a href="/tags/">{{ . }}</a>
                {{ end }}
                {{ .Content }}

                {{ with .Resources.ByType "image" }}
                    <div class="gallery">
                        {{ range . }}
                        <img class="gallery__image" src="{{ .RelPermalink }}">
                        {{ end }}
                    </div>
                {{ end }}
            </div>
    </div>
{{ end }}