{{ define "main" }}
    <div class="container">
        <h1 class="page-title">{{ .Title }}</h1>
            <div class="post-container">

                {{ range .Params.categories }}
                <a href="/categories/{{. | urlize }}">{{.}}</a>
                {{end}}

                {{ if (.Params.resources) }}

                    <div class="gallery">
                        {{ range .Params.resources}}
                            <img class="gallery__image" src="{{ .src }}">
                        {{ end }}
                    </div>
                
                {{ else }}

                    <p>No resources in this article.</p>

                {{ end }}
            </div>
    </div>
{{ end }}